img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  
  .blackletter{
  font-family: "blackletter shadow", sans-serif;
  color: black;
  text-align: center;
  margin-top: -2px;
  width: 100%;
  font-size: 60px;
  padding-top: 20;
  letter-spacing: 2px;
  }
  
  h1{
    text-align: center;
    font-family: sans-serif;
  }
  
  .img-div img{
    height: auto;
  }
  
  figcaption{
    padding-top: 12px;
    text-align: center;
    font-size: 16;
    font-family: sans-serif;
  }
  
  .description{
    text-align: center;
    padding-bottom: 20px;
    margin-top: -1em;
    font-family: sans-serif;
    font-weight: 
  }
  
  h3{
    padding-top: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18;
  }
  
  li{
    padding-bottom: 20px;
  }
  
  fieldset{
    width: 60%;
    margin: auto;
    border: none;
  }
  
  body{
    background: grey
  }
  
  .aka{
    font-size: 25
  }
  
  a{
    text-decoration: none;
    color: #dfdfe2;
  }
  
  h4{
    text-align: center;
  }
  
  .quote-dre{
    padding-top: 10px;
  }